<body>
  <div class="container mt-5">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-md-4">
        <div class="card bg-orange shadow-lg">
          <div class="card-body">
            <h2 class="card-title text-center text-white">Regístrate</h2>
            <p class="text-center text-white">Ingresa tus datos para crear una cuenta</p>
            <form>
              <div class="form-group">
                <label for="usuario" class="text-white">Usuario</label>
                <input type="text" class="form-control" id="usuario" placeholder="Ingresa un nombre de usuario" required>
              </div>
              <br>
              <div class="form-group">
                <label for="correo" class="text-white">Correo Electrónico</label>
                <input type="email" class="form-control" id="correo" placeholder="Ingresa tu correo electrónico" required>
              </div>
              <br>
              <div class="form-group">
                <label for="password" class="text-white">Contraseña</label>
                <input type="password" class="form-control" id="password" placeholder="Ingresa una contraseña" required>
              </div>
              <br>
              <div class="form-group">
                <label for="confirmPassword" class="text-white">Confirmar Contraseña</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirma tu contraseña" required>
              </div>
              <br>
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-light btn-block">Registrarse</button>
              </div>
              <p class="text-center mt-3 text-white">
                <a href="#" class="text-decoration-none text-white">¿Ya tienes una cuenta? Inicia sesión aquí</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
