<body>
    <div class="container mt-5">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-4">
          <div class="card bg-orange shadow-lg">
            <div class="card-body">
              <h2 class="card-title text-center text-white">Iniciar Sesión</h2>
              <p class="text-center text-white">Ingrese sus credenciales para acceder a su cuenta</p>
              <form>
                <div class="form-group">
                  <label for="username" class="text-white">Usuario</label>
                  <input type="text" class="form-control" id="username" placeholder="Ingrese su usuario" required>
                </div>
                <br>
                <div class="form-group">
                  <label for="password" class="text-white">Contraseña</label>
                  <input type="password" class="form-control" id="password" placeholder="Ingrese su contraseña" required>
                </div>
                <br>
                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-light btn-block">Iniciar sesión</button>
                </div>
                <p class="text-center mt-3 text-white">
                  <a href="#" class="text-decoration-none text-white">¿Olvidó su contraseña?</a>
                </p>
                <p class="text-center text-white">
                  ¿No tiene una cuenta? <a href="#" class="text-decoration-none text-white">Regístrese</a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>