body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.bg-orange {
  background-color: #EBBB99;
}

.btn-light {
  background-color: #fff;
  border-color: #fff;
  color: #337ab7;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}

.btn-light:hover {
  background-color: #e7e7e7;
  border-color: #e7e7e7;
}