<div class="container mt-4">
  <div class="header d-flex justify-content-between align-items-center mb-4">
    <h2>Lista de Ejercicios para la Salud Mental</h2>
    <button class="btn btn-primary">Agregar Ejercicio</button>
  </div>

  <!-- Lista de ejercicios -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Título</th>
        <th>Descripción</th>
        <th>Contenido</th>
        <th>Fecha de Creación</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- Ejercicio 1 -->
      <tr>
        <td>Mental</td>
        <td>Ejercicio de Respiración Profunda</td>
        <td>Mejora la relajación y reduce el estrés</td>
        <td>Técnica de respiración profunda guiada para calmar la mente</td>
        <td>2024-06-30</td>
        <td>
          <button class="btn btn-success me-2 custom-margin">Editar</button>
          <button class="btn btn-danger">Eliminar</button>
        </td>
      </tr>

      <!-- Ejercicio 2 -->
      <tr>
        <td>Mental</td>
        <td>Ejercicio de Visualización Guiada</td>
        <td>Mejora la concentración y la claridad mental</td>
        <td>Visualización guiada para promover la positividad y el bienestar</td>
        <td>2024-07-01</td>
        <td>
          <button class="btn btn-success me-2 custom-margin">Editar</button>
          <button class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
