body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Tipografía */
  background-color: #FFFFFF; /* White background */
}

.navbar {
  padding: 1rem 2rem;
  background-color: #EBBB99!important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem; /* Medium font size */
}

.navbar-brand {
  font-size: 1.5rem; /* Medium font size */
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.navbar-nav {
  margin-top: 0.5rem;
}

.nav-link {
  color: #666;
  transition: color 0.2s ease;
  font-size: 1.1rem; /* Medium font size */
}

.nav-link:hover {
  color: #333;
}

.nav-link.active {
  color: #337ab7;
  font-weight: bold;
}

.navbar-toggler {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem; /* Medium font size */
  line-height: 1;
  background-color: transparent;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease;
}

.navbar-toggler:hover {
  background-color: #f7f7f7;
}

.navbar-toggler-icon {
  font-size: 1.2rem; /* Medium font size */
  line-height: 1;
  color: #666;
}