<div class="container mt-4">
  <div class="header d-flex justify-content-between align-items-center mb-4">
    <h2>Lista de Videos</h2>
    <button class="btn btn-primary">Agregar Video</button>
  </div>

  <!-- Lista de videos -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Título</th>
        <th>Descripción</th>
        <th>Contenido</th>
        <th>Fecha de Creación</th>
        <th>Duración</th>
        <th>Formato</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- Video 1 -->
      <tr>
        <td>Ejercicio de Meditación Guiada</td>
        <td>Meditación guiada para reducir el estrés</td>
        <td>meditacion_guiada.mp4</td>
        <td>2024-06-30</td>
        <td>10 minutos</td>
        <td>MP4</td>
        <td>
          <button class="btn btn-success me-2 custom-margin">Editar</button>
          <button class="btn btn-danger">Eliminar</button>
        </td>
      </tr>

      <!-- Video 2 -->
      <tr>
        <td>Ejercicio de Yoga Relajante</td>
        <td>Secuencia de yoga para relajar cuerpo y mente</td>
        <td>yoga_relajante.mp4</td>
        <td>2024-07-01</td>
        <td>15 minutos</td>
        <td>MP4</td>
        <td>
          <button class="btn btn-success me-2 custom-margin">Editar</button>
          <button class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
