<div class="container mt-4">
  <div class="header d-flex justify-content-between align-items-center mb-4">
    <h2>Lista de Publicaciones</h2>
    <button class="btn btn-primary">Agregar Publicación</button>
  </div>

  <!-- Lista de publicaciones -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Título</th>
        <th>Descripción</th>
        <th>Fecha de Creación</th>
        <th>Multimedia</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- Publicación 1 -->
      <tr>
        <td>Consejos para mejorar el ánimo</td>
        <td>Consejos prácticos para sentirse mejor cada día</td>
        <td>2024-06-30</td>
        <td>Imagen</td>
        <td>
          <button class="btn btn-success me-2 custom-margin">Editar</button>
          <button class="btn btn-danger">Eliminar</button>
        </td>
      </tr>

      <!-- Publicación 2 -->
      <tr>
        <td>Experiencia personal: Superando la ansiedad</td>
        <td>Compartiendo mi historia y cómo he enfrentado la ansiedad</td>
        <td>2024-07-01</td>
        <td>Video</td>
        <td>
          <button class="btn btn-success me-2 custom-margin">Editar</button>
          <button class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
