/* Estilos adicionales para la aplicaci칩n */

/* Contenedor principal de la aplicaci칩n */
.app-container {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
}

.navbar {
  min-height: 100vh;
  width: 200px;
  padding-top: 20px;
}

/* Estilos para los enlaces de navegaci칩n */
.navbar-nav .nav-link {
  color: #fff;
  margin-bottom: 10px;
}

.navbar-nav .nav-link.active {
  font-weight: bold;
  background-color: #12b8af;
  border-radius: 4px;
}

/* Contenido principal */
.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  border-radius: 8px;
}

/* Pie de p치gina */
.footer {
  background-color: #28a745; /* Verde amarillento */
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
}
